# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
*.egg-info/
.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Environment & Keys
.env
.env.local
*.env
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json